@{
    ViewBag.Title = "Home Page";
    ViewBag.ActiveMenu = ZeroPageNames.Home;
}
<link href="~/wwwroot/libs/handsontable/handsontable.full.css" rel="stylesheet" />
<style>
    .instruction {
        margin-bottom: 12px;
    }

        .instruction .website {
            font-size: 30px;
            color: lightcoral;
        }

        .instruction .github {
            margin-left: 15px;
            font-size: 27px;
            color: lightcoral;
        }

    .section-nav {
        position: sticky;
        top: 4rem;
        z-index: 1000;
        list-style: none;
    }

        .section-nav a {
            color: black;
            opacity: 0.7;
            font-size: larger;
            padding: 10px 5px;
        }
</style>

<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#nav-libs">Libraries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-cron">Cron</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="nav-libs" role="tabpanel">
        <div class="row adbp-background ml-0">
            <div class="col-9">
                <div class="d-flex flex-column p-2">
                    <div id="typeaheadjs-example" class="instruction">
                        <div class="title">
                            <a class="website" href="http://twitter.github.io/typeahead.js/">
                                typeahead.js
                            </a>
                            <a class="github" href="https://github.com/twitter/typeahead.js">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v0.11.1</i>
                            </a>
                        </div>
                        <p>
                            <h4>twitter的自动完成插件</h4>
                        </p>
                        <div class="row">
                            <div class="col">
                                <input id="typeahead-input" type="text" placeholder="States of USA">
                            </div>
                            <div class="col">
                                <input class="adbp-typeahead" type="text" data-suggestions="@(Symbol)Exception, @(Symbol)api" placeholder="adbp-typeahead">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="popperjs-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://popper.js.org/">
                                popper.js
                            </a>
                            <a class="github" href="https://github.com/FezVrasta/popper.js">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v1.12.9</i>
                            </a>
                        </div>
                        <p>
                            <h4>bootstrap的popover和Tooltips</h4>
                            <div>
                                $('[data-toggle="popover"]').popover()&nbsp;&nbsp;&nbsp;$('[data-toggle="tooltip"]').tooltip()
                            </div>
                        </p>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                    Tooltip on top
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                    Tooltip on right
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                                    Tooltip on bottom
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                                    Tooltip on left
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="iconic-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://useiconic.com/open">
                                open-iconic
                            </a>
                            <a class="github" href="https://github.com/iconic/open-iconic">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v1.1.1</i>
                            </a>
                        </div>
                        <p>
                            <strong style="opacity:0.7">&nbsp;&nbsp;&nbsp;reference left side bar&nbsp;&nbsp;ex.</strong>
                            &lt;span class="oi oi-home"&gt;&lt;/span&gt;&nbsp;&nbsp;
                        </p>
                        <div class="row">
                            <div class="col">
                                <span class="oi oi-home"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-bell"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-lock-locked"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-lock-unlocked"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-person"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-people"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-arrow-circle-bottom"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-monitor"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-magnifying-glass"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-musical-note"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-paperclip"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-question-mark"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-reload"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-tag"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-tags"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-task"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-text"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-thumb-up"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-thumb-down"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-timer"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-trash"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-wrench"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-x"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-warning"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-zoom-in"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-zoom-out"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-menu"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-list"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-code"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-clock"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-cloud"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-cloud-download"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-cloud-upload"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-arrow-left"></span>
                            </div>
                            <div class="col">
                                <span class="oi oi-arrow-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="font_awesome-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://fontawesome.com/icons?d=gallery">
                                font-awesome
                            </a>
                            <a class="github" href="https://github.com/FortAwesome/Font-Awesome">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v5.0.8</i>
                            </a>
                        </div>
                        <p>
                            <strong style="opacity:0.7">
                                &nbsp;&nbsp;&nbsp;reference toolbar above table&nbsp;&nbsp;ex.
                            </strong>
                            &lt;i class="fas fa-address-book"&gt;&lt;/i&gt;
                        </p>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <i class="fas fa-address-book"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-address-card"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-archive"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-barcode"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-bath"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-bug"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-file"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-filter"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-folder"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-keyboard"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-shield"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-shield-check"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-sitemap"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-user-secret"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-window-close"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-window-minimize"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-window-restore"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-bullhorn"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-alarm-clock"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-ambulance"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-anchor"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-anchor"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-bell"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-book"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-building"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-eye"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-eye-slash"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-heart"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-image"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-hospital"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-info"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-info-circle"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-key"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-lightbulb"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-music"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-plane"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-plug"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-plus"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-print"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-search-minus"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-search-plus"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-tag"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-tags"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-trophy"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-university"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-utensil-fork"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-utensil-spoon"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-utensils"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-wheelchair"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-wifi"></i>
                            </div>
                            <div class="col">
                                <i class="fas fa-wrench"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="daterangepicker-example" class="instruction">
                        <div class="title">
                            <a class="website" href="http://www.daterangepicker.com/">
                                daterangepicker
                            </a>
                            <a class="github" href="https://github.com/dangrossman/daterangepicker">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v3.0.3</i>
                            </a>
                        </div>
                        <p>
                            $('input[name="daterange"]').daterangepicker({...},...)
                        </p>
                        <hr />
                        <form>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input name="xfd" type="text" value="2018-06-17" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-caret-down"></i></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">有效日期</label>
                                <div class="col-sm-10">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <input name="xfd" type="text" value="2018-06-17" class="form-control">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-caret-down"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <div class="d-inline p-1 border adbp-date" id="xxxxxxxx">
                                    <i class="fa fa-calendar"></i>
                                    <input name="xfd" type="text" value="2018-06-17" class="border-0" />
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input class="w-100" type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
                            </div>
                            <div class="col">
                                <input class="w-100" type="text" name="datetimes" />
                            </div>
                            <div class="col">
                                <input class="w-100" type="text" name="birthday" value="10/24/1984" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <input class="w-100" type="text" name="datefilter" value="" />
                            </div>
                            <div class="col">
                                <div class="w-100" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                    <i class="fa fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="jstree-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://www.jstree.com/">
                                jstree
                            </a>
                            <a class="github" href="https://github.com/vakata/jstree">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v3.3.5</i>
                            </a>
                        </div>
                        <p>
                            new abp.jstree('#organization-jstree', data)...
                        </p>
                        <hr />
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="sweetalert-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://sweetalert.js.org/">
                                sweetalert
                            </a>
                            <a class="github" href="https://github.com/t4t5/sweetalert">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v2.1.0</i>
                            </a>
                        </div>
                        <p>abp.message.info(message, title)返回的是<a href="http://www.ruanyifeng.com/blog/2011/08/a_detailed_explanation_of_jquery_deferred_object.html">deferred</a>对象，即支持链式写法。默认点击Ok（确定）后，触发done,取消触发fail。</p>
                        <div class="row">
                            <div class="col-sm">
                                <button id="swal-info" type="button" class="btn btn-outline-info btn-block">info!</button>
                            </div>
                            <div class="col-sm">
                                <button id="swal-success" type="button" class="btn btn-outline-success btn-block">success!</button>
                            </div>
                            <div class="col-sm">
                                <button id="swal-warn" type="button" class="btn btn-outline-warning btn-block">warning!</button>
                            </div>
                            <div class="col-sm">
                                <button id="swal-error" type="button" class="btn btn-outline-danger btn-block">error!</button>
                            </div>
                            <div class="col-sm">
                                <button id="swal-confirm" type="button" class="btn btn-outline-warning btn-block">confirm!</button>
                            </div>
                            <div class="col-sm">
                                <button id="swal-content" type="button" class="btn btn-outline-info btn-block">content!不好用</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="toastr-example" class="instruction">
                        <div class="title">
                            <a class="website" href="http://www.toastrjs.com/">
                                toastr
                            </a>
                            <a class="github" href="https://github.com/CodeSeven/toastr">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v2.1.4</i>
                            </a>
                            <p>abp.notify.info(message, title, options) 可以只传message或只传message和title</p>
                            <div class="row">
                                <div class="col-sm">
                                    <button id="toastr-info" type="button" class="btn btn-outline-info btn-block">info!</button>
                                </div>
                                <div class="col-sm">
                                    <button id="toastr-success" type="button" class="btn btn-outline-success btn-block">success!</button>
                                </div>
                                <div class="col-sm">
                                    <button id="toastr-warn" type="button" class="btn btn-outline-warning btn-block">warning!</button>
                                </div>
                                <div class="col-sm">
                                    <button id="toastr-error" type="button" class="btn btn-outline-danger btn-block">error!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="blockui-example" class="instruction">
                        <div class="title">
                            <div id="blockui-container">
                                <a class="website" href="http://jquery.malsup.com/block/">
                                    jquery.blockui
                                </a>
                                <a class="github" href="https://github.com/malsup/blockui">
                                    <i class="fab fa-github" aria-hidden="true">&nbsp;v2.7.0</i>
                                </a>
                            </div>
                            <p>abp.ui.block(elm, opts) or abp.ui.unblock(elm, opts). $(elm)->elm可以为dom或jquery对象也可以为选择器</p>
                            <p>
                                allow events for content that is not being blocked. 如在body或div或button上的block，其自身以及父辈的元素的点击事件会因为冒泡而被正常触发。
                                如，在button上的block，button区域虽然block了，但该区域点击时依然会触发点击事件
                            </p>
                            <div class="row">
                                <div class="col-sm">
                                    <button id="block-default" type="button" class="btn btn-outline-info btn-block">default!</button>
                                </div>
                                <div class="col-sm">
                                    <button id="block-message" type="button" class="btn btn-outline-success btn-block">some tip !</button>
                                </div>
                                <div class="col-sm">
                                    <button id="block-unblock" type="button" class="btn btn-outline-info btn-block">unblock!</button>
                                </div>
                                <div class="col-sm">
                                    <button id="block-all" type="button" class="btn btn-outline-info btn-block">block all 2s!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="spin-example" class="instruction">
                        <div id="spin-container" class="title">
                            <a class="website" href="http://spin.js.org/">
                                spin.js 旋转
                            </a>
                            <a class="github" href="https://github.com/fgnass/spin.js">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v2.3.2</i>
                            </a>
                        </div>
                        <p>abp.ui.setBusy or abp.ui.clearBusy</p>
                        <div class="row">
                            <div class="col-sm">
                                <button id="spin-default" type="button" class="btn btn-outline-info btn-block">body busy!</button>
                            </div>
                            <div class="col-sm">
                                <button id="spin-element" type="button" class="btn btn-outline-info btn-block">element busy!</button>
                            </div>
                            <div class="col-sm">
                                <button id="spin-noblock" type="button" class="btn btn-outline-info btn-block">container block element busy!</button>
                            </div>
                            <div class="col-sm">
                                <button id="spin-config" type="button" class="btn btn-outline-success btn-block">config !</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="moment-example" class="instruction">
                        <div class="title">
                            <a class="website" href="http://momentjs.com/docs/">
                                momentjs
                            </a>
                            <a class="github" href="https://github.com/moment/moment">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v2.20.1</i>
                            </a>
                        </div>
                        <p>abp.timing.str, abp.timing.dateStr, abp.timing.timeStr, abp.timing.datetimeStr</p>
                        <p>当前时间&nbsp;&nbsp;<span id="moment-text"></span></p>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="ajax-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://jquery.com/">
                                ajax
                            </a>
                            <a class="github" href="https://github.com/jquery/jquery">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v3.3.1</i>
                            </a>
                        </div>
                        <p>abp.ajax({...})</p>
                        <div class="row">
                            <div class="col-sm">
                                <button id="ajax-success" type="button" class="btn btn-outline-info btn-block">ajax-success!</button>
                            </div>
                            <div class="col-sm">
                                <button id="ajax-error" type="button" class="btn btn-outline-danger btn-block">ajax-error!</button>
                            </div>
                            <div class="col-sm">
                                <button id="ajax-dontwrap-success" type="button" class="btn btn-outline-info btn-block">ajax-dontwrap success!</button>
                            </div>
                            <div class="col-sm">
                                <button id="ajax-404" type="button" class="btn btn-outline-danger btn-block">ajax-404!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="jqueryForm-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://jquery-form.github.io/form/">
                                jquery.form
                            </a>
                            <a class="github" href="https://github.com/jquery-form/form">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v4.2.2</i>
                            </a>
                        </div>
                        <p>$(...).abpAjaxForm({...})</p>
                        <div class="row">
                            <div class="col-sm">
                                <form id="ajax-form" action="/Home/Comment2" method="post">
                                    <div>
                                        Comment
                                    </div>
                                    <div>
                                        <textarea name="comment"></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" value="Submit 404">
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm">
                                <form id="ajax-form-error" action="/Home/JsonError" method="post">
                                    <div>
                                        Comment
                                    </div>
                                    <div>
                                        <textarea name="comment"></textarea>
                                    </div>
                                    <div>
                                        <input type="submit" value="Submit error">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="Datatables-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://www.datatables.net/">
                                jquery.datatables.js
                            </a>
                            <a class="github" href="https://github.com/DataTables/DataTables">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v1.10.15</i>
                            </a>
                        </div>
                        <p>$(...).abpDataTable({...})</p>
                        <table id="Datatables-table" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2012/03/29</td>
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2012/12/02</td>
                                    <td>$372,000</td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>2012/08/06</td>
                                    <td>$137,500</td>
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>2010/10/14</td>
                                    <td>$327,900</td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>39</td>
                                    <td>2009/09/15</td>
                                    <td>$205,500</td>
                                </tr>
                                <tr>
                                    <td>Sonya Frost</td>
                                    <td>Software Engineer</td>
                                    <td>Edinburgh</td>
                                    <td>23</td>
                                    <td>2008/12/13</td>
                                    <td>$103,600</td>
                                </tr>
                                <tr>
                                    <td>Jena Gaines</td>
                                    <td>Office Manager</td>
                                    <td>London</td>
                                    <td>30</td>
                                    <td>2008/12/19</td>
                                    <td>$90,560</td>
                                </tr>
                                <tr>
                                    <td>Quinn Flynn</td>
                                    <td>Support Lead</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2013/03/03</td>
                                    <td>$342,000</td>
                                </tr>
                                <tr>
                                    <td>Charde Marshall</td>
                                    <td>Regional Director</td>
                                    <td>San Francisco</td>
                                    <td>36</td>
                                    <td>2008/10/16</td>
                                    <td>$470,600</td>
                                </tr>
                                <tr>
                                    <td>Haley Kennedy</td>
                                    <td>Senior Marketing Designer</td>
                                    <td>London</td>
                                    <td>43</td>
                                    <td>2012/12/18</td>
                                    <td>$313,500</td>
                                </tr>
                                <tr>
                                    <td>Tatyana Fitzpatrick</td>
                                    <td>Regional Director</td>
                                    <td>London</td>
                                    <td>19</td>
                                    <td>2010/03/17</td>
                                    <td>$385,750</td>
                                </tr>
                                <tr>
                                    <td>Michael Silva</td>
                                    <td>Marketing Designer</td>
                                    <td>London</td>
                                    <td>66</td>
                                    <td>2012/11/27</td>
                                    <td>$198,500</td>
                                </tr>
                                <tr>
                                    <td>Paul Byrd</td>
                                    <td>Chief Financial Officer (CFO)</td>
                                    <td>New York</td>
                                    <td>64</td>
                                    <td>2010/06/09</td>
                                    <td>$725,000</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="d-flex flex-column p-2">
                    <div id="handsontable-example" class="instruction">
                        <div class="title">
                            <a class="website" href="https://www.datatables.net/">
                                handsontable.full.js
                            </a>
                            <a class="github" href="https://github.com/handsontable/handsontable">
                                <i class="fab fa-github" aria-hidden="true">&nbsp;v5.0.8</i>
                            </a>
                        </div>
                        <p>$(...).abpDataTable({...})</p>
                        <div id="handsontable-container"></div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <ul class="section-nav">
                    <li><a href="#typeaheadjs-example">typeahead.js</a></li>
                    <li><a href="#popperjs-example">popper.js</a></li>
                    <li><a href="#iconic-example">open-iconic</a></li>
                    <li><a href="#font_awesome-example">font-awesome</a></li>
                    <li><a href="#daterangepicker-example">daterangepicker</a></li>
                    <li><a href="#jstree-example">jstree</a></li>
                    <li><a href="#sweetalert-example">sweetalert</a></li>
                    <li><a href="#toastr-example">toastr</a></li>
                    <li><a href="#blockui-example">jquery.blockui</a></li>
                    <li><a href="#spin-example">spin.js 旋转</a></li>
                    <li><a href="#moment-example">momentjs</a></li>
                    <li><a href="#ajax-example">ajax</a></li>
                    <li><a href="#jqueryForm-example">jquery.form</a></li>
                    <li><a href="#Datatables-example">jquery.datatables.js</a></li>
                    <li><a href="#handsontable-example">handsontable.full.js</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-cron" role="tabpanel">
        <form id="form-cron_submit">
            <pre class="hljs" style="background: lightsteelblue;">
            <code>0    1    2    3    4
                *    *    *    *    *
                |    |    |    |    |
                |    |    |    |    + — — — — — day of week ( 0 - 6 ) ( Sunday = 0 )
                |    |    |    + — — — — — — month ( 1 - 12 )
                |    |    + — — — — — — — day of month ( 1 - 31 )
                |    + — — — — — — — hour ( 0 - 23 )
                + — — — — — — — min ( 0 - 59 )
                </code>
            </pre>
            <div class="form-group row">
                <label class="col-3 col-form-label adbp-mask">Cron Pattern</label>
                <div class="col-9">
                    <input type="text" name="pattern" data-vd="{name:'Cron Pattern', r:true, maxL:50}" value="* * * * *" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label adbp-mask">最近执行时间</label>
                <div class="col-9">
                    <input type="text" name="times" data-vd="{name:'Execute Times', r:true}" value="5" />
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="button-cron_submit">@L("Save")</button>
        </form>
        <hr />
        <h4>执行结果:</h4>
        <ul id="cron-result"></ul>
    </div>
</div>

@section scripts {
    <script src="~/wwwroot/libs/handsontable/handsontable.full.js"></script>
    <script type="text/javascript">
        $("#button-cron_submit").on("click", function () {
            if (abp.isDispatched(this, "click")) {
                return;
            }
            if (abp.validate("#form-cron_submit") === false) {
                return false;
            }
            var ps = $("#form-cron_submit").deserialize();
            abp.ajax({
                url: "/home/getSchedules",
                data: JSON.stringify({
                    pattern: ps.pattern,
                    n: ps.times
                }),
                success: function (result) {
                    $("#cron-result").empty();
                    for (var i = 0; i < result.length; i++) {
                        $("#cron-result").append(`<li>${abp.timing.datetimeStr(result[i])}</li>`);
                    }
                    abp.notify.success("操作成功！");

                }
            });
        });
    </script>
    <script type="text/javascript">
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function (i, str) {
                    if (!str) {
                        matches.push(str);
                    }
                    else if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
            'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
            'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
            'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
            'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
            'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
            'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
            'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
            'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
        ];
        $("#typeahead-input").typeahead({
            hint: true,
            highlight: true,
            minLength: 0
        },
            {
                source: substringMatcher(states),
                limit: 8
            });
    </script>
    <script type="text/javascript">
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                abp.notify.info("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });

            $('input[name="datetimes"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'M/DD hh:mm A'
                }
            });

            $('input[name="birthday"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function (start, end, label) {
                var years = moment().diff(start, 'years');
                abp.notify.info("You are " + years + " years old!");
            });

            (function () {
                var start = moment().subtract(29, 'days');
                var end = moment();

                function cb(start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

                $('#reportrange').daterangepicker({
                    startDate: start,
                    endDate: end,
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    }
                }, cb);

                cb(start, end);
            })();

            (function () {
                $('input[name="datefilter"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });

                $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                });

                $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });
            })();
        });
    </script>
    <script type="text/javascript">
        $("#swal-info").on("click", function () {
            abp.message.info("You clicked the button!", "info job!").done((value) => {
                console.log(value);
                console.log("done");
            }).done((value) => {
                console.log(value);
                console.log("done");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            });
        });
        $("#swal-success").on("click", function () {
            abp.message.success("You clicked the button!", "success job!").done((value) => {
                console.log(value);
                console.log("done");
            }).done((value) => {
                console.log(value);
                console.log("done");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            });
        });
        $("#swal-warn").on("click", function () {
            abp.message.warn("You clicked the button!", "warn job!").done((value) => {
                console.log(value);
                console.log("done");
            }).done((value) => {
                console.log(value);
                console.log("done");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            });
        });
        $("#swal-error").on("click", function () {
            abp.message.error("You clicked the button!", "error job!").done((value) => {
                console.log(value);
                console.log("done");
            }).done((value) => {
                console.log(value);
                console.log("done");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            });
        });
        $("#swal-confirm").on("click", function () {
            abp.message.confirm("You clicked the button!", "confirm job!").done((value) => {
                console.log(value);
                console.log("done");
            }).done((value) => {
                console.log(value);
                console.log("done");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).fail(function (value) {
                console.log(value);
                console.log("failed");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            }).always(function (value) {
                console.log(value);
                console.log("always!");
            });
        });
        $("#swal-content").on("click", function () {
            //abp.message.content(div)

            var $input = $("<div><input type='number' value='1'/></div>");
            $input.find("input").on("change", function (value) {
                swal.setActionValue(this.value);
            });
            swal({
                text: "Write something here:",
                content: $input[0],
                buttons: {
                    confirm: {
                        /*
                         * We need to initialize the value of the button to
                         * an empty string instead of "true":
                         */
                        value: "1",
                    },
                },
            })
                .then((value) => {
                    swal(`You typed: ${value}`);
                });

        });
    </script>
    <script>
        $("#toastr-info").on("click", function () {
            abp.notify.info("111", "ttt");
        });
        $("#toastr-success").on("click", function () {
            abp.notify.success("111", "ttt");
        });
        $("#toastr-warn").on("click", function () {
            abp.notify.warn("111");
        });
        $("#toastr-error").on("click", function () {
            abp.notify.error("111", "ttt");
        });
    </script>
    <script type="text/javascript">
        $("#block-default").on("click", function () {
            abp.ui.block("#blockui-container");
        });
        $("#block-message").on("click", function () {
            abp.ui.block("#blockui-container", {
                message: '<h1>Just a moment...</h1>',
                css: { backgroundColor: '#f00', color: '#fff' }
            });
        });
        $("#block-unblock").on("click", function () {
            abp.ui.unblock("#blockui-container");
        });

        $("#block-all").on("click", function () {
            abp.ui.block();
            setTimeout(function () {
                abp.ui.unblock();
            }, 2000);
        });
    </script>
    <script type="text/javascript">
        (function ($) {
            $("#spin-default").on("click", function () {

                abp.ui.setBusy();
                setTimeout(function () {
                    abp.ui.clearBusy();
                }, 2000);
            });
            $("#spin-element").on("click", function () {
                var elm = "#spin-container";

                abp.ui.setBusy(elm);
                setTimeout(function () {
                    abp.ui.clearBusy(elm);
                }, 2000);
            });
            $("#spin-noblock").on("click", function () {
                var elm = this;
                abp.ui.spin(elm, 'small');
                setTimeout(function () {
                    abp.ui.clearSpin(elm);
                }, 2000);
            });
            $("#spin-config").on("click", function () {
                var config = {
                    blockElement: "#spin-example",
                    spinElement: "spin-container",
                    spinType: "small"
                };

                abp.ui.setBusy(config);
                setTimeout(function () {
                    abp.ui.clearBusy(config);
                }, 2000);
            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        setInterval(function () {
            $("#moment-text").html(`datestr: ${abp.timing.dateStr(new Date())},  timeStr: ${abp.timing.timeStr(new Date())},   datetimeStr: ${abp.timing.datetimeStr(new Date())}`)
        }, 1000);
    </script>
    <script type="text/javascript">
        $("#ajax-success").on("click", function () {
            abp.ajax({
                url: "/Home/JsonSuccess",
                data: {
                    info: "想说什么"
                },
                beforeSend: function () {
                    //return false;
                },
                success: function (result) {
                    abp.notify.success("操作成功！");
                }
            });
        });

        $("#ajax-error").on("click", function () {
            abp.ajax({
                url: "/Home/JsonError",
                data: {
                    info: "error"
                },
                error: function () {
                    abp.notify.error("UserFriendlyException, 操作失败！");
                }
            });
        });

        $("#ajax-dontwrap-success").on("click", function () {
            abp.ajax({
                url: "/Home/JsonNotWrapped",
                data: {
                    info: "dont wrap"
                },
                success: function (result) {
                    abp.notify.success("dont wrap！");
                }
            });
        });

        $("#ajax-404").on("click", function () {
            abp.ajax({
                url: "/Home/xxx404",
                data: {
                    info: "想说什么"
                },
                error: function () {
                    abp.notify.error("404！");
                }
            });
        });
    </script>
    <script type="text/javascript">
        $("#ajax-form").abpAjaxForm({
            data: function (params) {
                //先执行data,在执行beforeSubmit
                let extra = {};
                return extra;
            },
            beforeSubmit: function () {
                console.log("beforeSubmit");
            },
            success: function () {
                console.log("success");
            },
            error: function () {
                console.log("error");
            },
            complete: function () {
                console.log("complete");
            }
        });
        $("#ajax-form-error").abpAjaxForm({
            data: function (params) {
                let extra = {};
                return extra;
            }
        });
    </script>
    <script type="text/javascript">
        new abp.table.client().setStyle().show("#Datatables-table");
    </script>
    <script type="text/javascript">
        var data = [
            ["", "Ford", "Tesla", "Toyota", "Honda"],
            ["2017", 10, 11, 12, 13],
            ["2018", 20, 11, 14, 13],
            ["2019", 30, 15, 12, 13]
        ];

        var container = document.getElementById('handsontable-container');
        var hot = new Handsontable(container, {
            data: data,
            rowHeaders: true,
            colHeaders: true
        });
    </script>
    <script>
        abp.event.on('itemAddedToBasket', function (item) {
            abp.notify.success(item.name + ' was added to basket!');
        });
    </script>
}