@{
    ViewBag.Title = "AuditLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = ZeroPageNames.AuditLog;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">AuditLog</li>
    </ol>
</nav>
<div class="card adbp-background">
    <div class="card-body">
        <div class="bd-highlight adbp-toolbar">
            <div class="float-right">
                <div class="input-group">
                    <input id="table-search" type="text" class="form-control adbp-typeahead" data-suggestions="@(Symbol)exception" placeholder="search" value="@(Symbol)exception">
                </div>
            </div>
        </div>
        <table id="auditLog-table" class="display">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>操作者</th>
                    <th>调用服务</th>
                    <th>方法</th>
                    <th>参数</th>
                    <th>持续时间</th>
                    <th>IP地址</th>
                    <th>客户端</th>
                    <th>浏览器</th>
                    <th>异常</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    @Html.IncludeScript("~/wwwroot/es5/ZeroAnalasy/AuditLog.js")
}