@{
    ViewBag.Title = "LoginAttempt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = PageNames.LoginAttemptLog;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">LoginAttemptLog</li>
    </ol>
</nav>
<div class="card adbp-background">
    <div class="card-body">
        <div class="bd-highlight adbp-toolbar">
            <div class="float-right">
                <div class="input-group">
                    <input id="table-search" type="text" class="form-control" placeholder="search">
                </div>
            </div>
        </div>
        <table id="logAttemptLog-table" class="display">
            <thead>
                <tr>
                    <th>@L("UserName")</th>
                    <th>IP地址</th>
                    <th>客户端</th>
                    <th>结果</th>
                    <th>尝试时间</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var table = new abp.table.server("#logAttemptLog-table", {
            "columnDefs": null,
            "order": [[4, "desc"]],
            'ajax': {
                url: '/zeroanalasy/getUserLoginAttempts',
                data: function (params) {
                    params.search.value = $("#table-search").val();
                    return params;
                }
            },
            columns: [
                { data: 'UserNameOrEmailAddress' },
                { data: 'ClientIpAddress' },
                { data: 'ClientName' },
                {
                    data: 'ResultStr', render: function (data, type, full, meta) {
                        return abp.localization.localize("ENUM_AbpLoginResultType_" + data, "AdbpZero");
                    }
                },
                {
                    data: 'CreationTime', render: function (data, type, full, meta) {
                        return abp.timing.datetimeStr(data);
                    }
                },
            ]
        }).setStyle("rtip");

        table.show();

        $("#table-search").on("change", function () {
            table.show();
        }); 
    </script>
}