@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = ProjectNamePageNames.Guests;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Guests</li>
    </ol>
</nav>
<div class="card adbp-background">
    <div class="card-body">
        <div class="bd-highlight adbp-toolbar">
            <div class="float-left">
                <div class="input-group">
                    <button type="button" class="btn btn-outline-info adbp-toolbar-btn" data-toggle="modal" data-target="#modal-guest_create" title="创建">
                        <i class="fas fa-plus fa-sm"></i>
                    </button>
                    <button id="btn-guestIndex_edit" type="button" class="btn btn-outline-info adbp-toolbar-btn" data-toggle="modal" data-target="#modal-guest_edit" title="编辑" disabled="disabled">
                        <i class="fas fa-pencil-alt fa-sm"></i>
                    </button>
                    <button id="btn-guestIndex_delete" type="button" class="btn btn-outline-info adbp-toolbar-btn" title="删除" disabled="disabled">
                        <i class="fas fa-trash-alt fa-sm"></i>
                    </button>
                </div>
            </div>
            <div class="float-right">
                <div class="input-group">
                    <input id="table-search" type="text" class="form-control" placeholder="search">
                </div>
            </div>
        </div>
        <table id="guestIndex-table" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>手机</th>
                    <th>单位</th>
                    <th>职称</th>
                    <th>备注</th>
                    <th>创建时间</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-guest_create" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="api/services/app/guest/create" data-dt="#guestIndex-table">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>创建嘉宾</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">Guest Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="Name" data-vd="{name:'Guest Name', r:true, minL:2, maxL:32}" class="form-control" placeholder="Guest Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Pin Yin</label>
                        <div class="col-sm-10">
                            <input type="text" name="PingYin" data-vd="{name:'Pin Yin', r:false, maxL:10}" class="form-control" placeholder="Pin Yin">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="IsFemale" value="false" id="IsFemale_1_1">
                                <label class="form-check-label" for="IsFemale_1_1">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="IsFemale" value="true" id="IsFemale_1_2">
                                <label class="form-check-label" for="IsFemale_1_2">女</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">Title</label>
                        <div class="col-sm-10">
                            <input type="text" name="Title" class="form-control" data-vd="{name:'Title', r:true, maxL:50}" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Telephone</label>
                        <div class="col-sm-10">
                            <input type="text" name="Telephone" class="form-control" data-vd="{name:'Telephone', r:false, bReg:'telephone'}" placeholder="Telephone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">Company</label>
                        <div class="col-sm-10">
                            <input type="text" name="Company" class="form-control" data-vd="{name:'Company', r:true, maxL:100}" placeholder="Company">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" name="Description" class="form-control" data-vd="{name:'Description', r:false, maxL:250}" placeholder="Description">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-guest_edit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="api/services/app/guest/update" data-dt="#guestIndex-table">
                <input type="hidden" name="Id" />
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>编辑嘉宾</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">Guest Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="Name" data-vd="{name:'Guest Name', r:true, minL:2, maxL:32}" class="form-control" placeholder="Guest Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Pin Yin</label>
                        <div class="col-sm-10">
                            <input type="text" name="PingYin" data-vd="{name:'Pin Yin', r:false, maxL:10}" class="form-control" placeholder="Pin Yin">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="IsFemale" value="false" id="IsFemale_2_1">
                                <label class="form-check-label" for="IsFemale_2_1">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="IsFemale" value="true" id="IsFemale_2_2">
                                <label class="form-check-label" for="IsFemale_2_2">女</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">Title</label>
                        <div class="col-sm-10">
                            <input type="text" name="Title" class="form-control" data-vd="{name:'Title', r:true, maxL:50}" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Telephone</label>
                        <div class="col-sm-10">
                            <input type="text" name="Telephone" class="form-control" data-vd="{name:'Telephone', r:false, bReg:'telephone'}" placeholder="Telephone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">Company</label>
                        <div class="col-sm-10">
                            <input type="text" name="Company" class="form-control" data-vd="{name:'Company', r:true, maxL:100}" placeholder="Company">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" name="Description" class="form-control" data-vd="{name:'Description', r:false, maxL:250}" placeholder="Description">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        (function () {

            window.table = new abp.table.server("#guestIndex-table", {
                "order": [[3, "desc"]],
                'ajax': {
                    url: '/guests/GetGuests',
                    data: function (params) {
                        params.search.value = $("#table-search").val();
                        return params;
                    }
                },
                columns: [
                    {
                        render: function (data, type, full, meta) {
                            return '';
                        }
                    },
                    { data: 'Name' },
                    {
                        data: 'IsFemale', render: function (data, type, full, meta) {
                            if (data == null) {
                                return "";
                            }
                            else if (data) {
                                return abp.localization.localize("BOOL_ISFEMALE_TRUE", "ProjectName");
                            }
                            else {
                                return abp.localization.localize("BOOL_ISFEMALE_FALSE", "ProjectName");
                            }
                        }
                    },
                    { data: 'Telephone' },
                    { data: 'Company' },
                    { data: 'Title' },
                    { data: 'Description' },
                    {
                        data: 'CreationTime', render: function (data, type, full, meta) {
                            return abp.timing.datetimeStr(data);
                        }
                    },
                ]
            }).contact(["draw.dt", "select.dt", "deselect.dt"], "#btn-guestIndex_edit", function (e, dt, type, indexes) {
                if (dt.isSingleSelected()) {
                    $(this).removeAttr("disabled");
                }
                else {
                    $(this).attr("disabled", true);
                }
                }).contact(["draw.dt", "select.dt", "deselect.dt"], "#btn-guestIndex_delete", function (e, dt, type, indexes) {
                if (dt.isSingleSelected()) {
                    if (!dt.singleSelected().isStatic) {
                        $(this).removeAttr("disabled");
                    }
                    else {
                        $(this).attr("disabled", true);
                    }
                }
                else {
                    $(this).attr("disabled", true);
                }
            });
            table.show();

            $('#table-search').on('change', function () {
                table.show();
            });

            function initEditModal({ Id, Name, PinYin, IsFemale, Title, Telephone, Company, Description }) {
                let $form = $("#modal-guest_edit").find("form");
                $form.resetForm();
                $form.find("[name=Id]").val(Id);
                $form.find("[name=Name]").val(Name);
                $form.find("[name=PinYin]").val(PinYin);
                if (IsFemale === true) {
                    $("input[name=IsFemale][value='true']").prop("checked", true);
                }
                else if (IsFemale === false) {
                    $("input[name=IsFemale][value='false']").prop("checked", true);
                }

                $form.find("[name=Title]").val(Title);
                $form.find("[name=Telephone]").val(Telephone);
                $form.find("[name=Company]").val(Company);
                $form.find("[name=Description]").val(Description);
            }

            $("#modal-guest_edit").on("show.bs.modal", function () {
                var row = window.table.singleSelected();
                initEditModal(row);
            });

            $("#btn-guestIndex_delete").on("click", function () {
                abp.message.confirm('', "确认删除嘉宾！").done((value) => {
                    if (value) {
                        var row = window.table.singleSelected();
                        abp.services.app.guest.delete(row.Id).done(function () {
                            abp.notify.success("操作成功！");
                            table.show();
                        });
                    }
                })
            });
        })();
    </script>
}
